<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chef.name %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @chef.image_url %>
</p>

<%= link_to 'Edit', edit_chef_path(@chef) %> |
<%= link_to 'Back', chefs_path %>
